/* 
.sub_nav .sub_cat{
    padding: 3px 10px;
    margin-left: 10px;
    color: black;
} */
.sub_header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sub_cat{
    color: black !important;
    align-items: center;
    padding: 3px 10px;
    margin-left: 10px;
}

.all_acc{
    height: 10px;
    padding: 10px;
    border: 1px solid #002f34;
    background: white;
    margin-top: 10px;
}

